---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro"
import PostCard from "@/components/PostCard.astro"
import HeroImage from "@/assets/kita.png"

const posts = await getCollection("posts")
---

<Layout title="KodeKita">
	<main>
		<section>
			<div class="hero">
				<div class="hero__bg">
					<div class="hero__bg__wrapper">
						<Image class="hero__bg__image" src={HeroImage} alt="gambar hero kodekita" />
					</div>
				</div>
				<div class="container hero__content">
					<p class="hero__text">
						Belajar Ilmu Komputer <br>
						<span class="bold">Gratis</span> Untuk Semua.
					</p>
					<p class="hero__text">
						Baca Materi & Artikel <br>
						<span class="bold">Tanpa Iklan.</span>
					</p>
					
					<div class="hero__buttons">
						<a href="/posts">
							<button class="button">
								Belajar Sekarang
							</button>
						</a>
						<a href="/contribute">
							<button class="button button--secondary">
								Ikut Berkontribusi
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="container newsletter">
				<h1 class="newsletter__title">Jangan Sampai Ketinggalan Teknologi Terkini</h1>
				<p class="newsletter__text">Subscribe artikel kita. Gratis. Tanpa biaya apapun.</p>
				<input class="newsletter__input" type="email" placeholder="Ketik email kamu">
				<div>
					<button class="button">Langganan sekarang</button>
				</div>
			</div>
		</section>
		<section>
			<div class="container posts">
				<h1 class="posts__title">Artikel Kita.</h1>
				<div class="posts__posts">
					{
						posts.map((post: any) => (
							<PostCard
								tags={post.data.tags}
								image={post.data.image}
								title={post.data.title}
								description={post.data.description}
								slug={post.slug}
							/>
						))
					}
				</div>

				<a href="/posts">
					<button class="button">
						Belajar Sekarang
					</button>
				</a>
			</div>
		</section>
	</main>
</Layout>

<style>
	.hero {
		height: 100vh;
		display: flex;
		flex-direction: column;
    
		.hero__content {
			position: relative;
			top: -100vh;
			padding-top: 15vh;
		}

		.hero__text, .hero__text * {
			font-size: 1.75rem;
			margin: 1rem 0;
		}

		.hero__buttons {
			margin-top: 2rem;
			max-width: 10rem;
		}

		.hero__bg {
			position: relative;
			top: 0;
			left: 0;
			z-index: -10;
		}
		
		.hero__bg__wrapper {
			display: flex;
			width: 100vw;
			height: 100vh;
		}

		.hero__bg__image {
			margin-left: auto;
			margin-bottom: auto;
			width: min(360px, 100vw);
			height: auto;
			object-fit: scale-down;
			scale: -1;
		}
	}

	.newsletter {
		display: flex;
		flex-direction: column;
		background-color: var(--text);
		padding-top: 3rem;
		padding-bottom: 3rem;
		margin-bottom: 2rem;

		.newsletter__title {
			color: var(--bg);
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		.newsletter__text {
			color: var(--bg);
			margin-bottom: 0.5rem;
		}

		.newsletter__input {
			all: unset;
			background-color: var(--bg);
			padding: 1rem 2rem;
			margin: 0.5rem 0;
      		max-width: 20rem;
			border-radius: var(--rounded);
		}
	}

	.posts {
		margin-bottom: 5rem;
			.posts__title {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

		.posts__posts {
			margin-bottom: 2rem;
			display: flex;
			flex-wrap: wrap;
		}
	}
</style>
